.main-information{
	width: 97%;
}
.xemthem a{
font-size: 20px;
    color: white;
    background-color: #0092de;
    padding: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    display: inline-block;
    display: -webkit-inline-box;
    display: -moz-inline-box;
        margin-top: 30px;
}
.xemthem{
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
}
.header-main-information select{
	height: 36px;
	width: 192px;
	padding-left: 10px;
	margin-right: 43px;
}
.header-main-information input{
	height: 36px;
	width: 30%;
	padding-left: 10px;
	position: absolute;
	right: 0;
	padding-right: 10px;
    border-radius: 0 !important ;
}
#search-input{
	position: absolute;
    right: 7px;
    top: 37px;
    font-size: 16px;
    color: #0083c7;
    cursor: pointer;
    
}
.header-main-information{
	padding-top: 31px;
	margin-bottom: 28px;
	    border-top: 1px solid #ccc;
	border-width: 1px;
	position: relative;

}
.header-main-information select{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
          border: 1px solid #ccc;
}
select.desktopDropDown::-ms-expand {
    display: none;
}
.header-main-information form{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
}
.select{
	position: relative;
}
.select i{
	font-size: 27px;
    left: 160px;
    top: 0px;
    position: absolute;
    color: #0083c7;
    pointer-events: none;
}
.main-media{
	
	position: relative;
}
.main-media .span{
    position: absolute;
    left: 2%;
    top: 3%;
    bottom: 3%;
    right: 3%;
    color: white;
    font-size: 18px;
    background-color: rgba(15,130,191,0.7);
    opacity: 0;
   -moz-transition:-moz-opacity 0.5s ease; 
  -webkit-transition:-webkit-opacity 0.5s ease; 
  -o-transition:-o-opacity 0.5s ease;
}
.span p{
        padding-left: 3%;

}
.main-media .span i{
	    text-align: center;
    padding-left: 38%;
    font-size: 60px;
    padding-top: 15%;
}
.img-media, .video{
    width: 33.333333%;
    float: left;
    position: relative;
    margin-bottom: 4px;
        padding-right: 3px;

}
.img-media img, iframe{
	max-width: 100%;
    height: auto;
}
.span:hover {
	opacity :1;
}
.main-media1{
    opacity: 0;
}
.fancybox{
    height: 100%;
    cursor: pointer;
}
.fancybox-opened .fancybox-title {
    color: #0083c7 !important;
    padding-left: 10px !important;
    font-weight: bold !important;
}
iframe{
    width: 99%;
}
@media(max-width: 768px){

	.xemthem a {
    font-size: 16px;
    color: white;
    background-color: #0092de;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
}
    .main-media .span i{
            padding-top: 5%;
    }
}
@media(max-width: 640px){
	.select i {
    font-size: 27px;
    left: 133px;
    top: 0px;
    position: absolute;
    color: #0083c7;
}
.header-main-information select {
    height: 36px;
    width: 160px;
    padding-left: 10px;
    margin-right: 43px;
}
.img-media{
        padding-right: 2px;
}
}
@media(max-width: 500px){
    .img-media, .video{
        width: 100%;
    }
    .img-media img, iframe {
        width: 100%;
    }
	.header-main-information select {
		width: 90px;
        margin-bottom: 5px;
	}
	.select i {
    font-size: 23px;
    left: 65px;
}
}
@media(max-width: 425px){
	.header-main-information form {
    display: block;
}
.header-main-information input {
    top: 31px;
    width: 60%;
}

