body{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: auto;
	background-image: url('background5.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}
.wrap{
	width: 80%;
	max-width: 1100px;
	height: auto;
	background-color: rgba(255,255,255,0.8);
	
	margin: auto;
	margin-top: 5%;
	padding-top: 2%;
	padding-bottom: 5%;
	padding-left: 2%;
	padding-right: 2%;
	border-radius: 5%;

}
.wrap h1{
	font-size: 24px;
	font-weight: bold;
	font-family: serif;
}
.wrap p{
	font-size: 20px;
	font-weight: 200px;
}
span{
	margin-left: 1%;
	color: red;
}
@media(min-width: 1367px){
	.wrap{
		width: 100%;
	}
	.wrap h1{
		font-size: 34px;

	}
	.wrap p{
		font-size: 30px;
	}
	.wrap input{
		font-size: 30px !important;
		margin-bottom: 5%;
	}
	label{
		font-size: 30px !important;
		margin-bottom: 5%;
	}

}
@media(max-width: 1024px){
	.wrap{
		width: 50%;
		margin-left: 5%;
		max-width: none;
	}
}
@media(max-width: 768px){

}
@media(max-width: 640px){
	.wrap{
		width: 45% ;
		margin-left:1%;

	}
}
@media(max-width: 500px){
	.wrap{
		width: 40%;
		margin-left: 0;
	}
}