@font-face{
	font-family: adika;
	src: url('./AndikaNewBasic-I.ttf') format('truetype');
}
@keyframes title {
    0%  {background-color: #EF7126; color: #F9E559;}
    25%  {background-color: #6F3662; color: #FFFFFF;}
    50%  {background-color: #9F6164; color: #F8DEBD;}
    75%  {background-color: #44B3C2; color: #FFFFFF;}
    100% {background-color: #218C8D; color: #F9E559;}
}
@keyframes text {
	0% { opacity: 1; transform: scale(1,1);}
	25%{opacity: 1;	transform:scale(1.5,1.5);}
	50%{opacity: 1; transform: scale(1,1);}
	75%{opacity: 1; transform: scale(1.5,1.5);}
	100%{opacity: 1; trasnform: scale(1,1);}
}
body{
	
	margin : 0;
	padding: 0;
}
.all{
	max-width: 1000px;
	margin:auto;
	font-family: adika;

}
h1{
	text-align: center;
	font-size: 35px;
	padding: auto;
	transform: scale(1.1);
	animation: text 5s ease infinite;
	color: red;
	margin-bottom: 20px;
	margin-top: 20px;
}
.hello{
	margin-top: 22px;
	padding: auto;
	font-size: 24px;
	color: red;
}
.menu a{
	text-decoration: none;
	
	color: white;


}
.banh a{
	color: black;
}
.menu{
	 background-color: #248283; 
	margin: 0;
}

.menu ul li{
    list-style: none;
    display:inline-block;
    font-size: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
   	position: relative; 
   	padding-left: 20px;

 }
.menu ul li ul {
	display: none;

}
.menu ul li ul li{
	font-size: 20px;
}
.menu ul li:hover ul{
	display: block;
	background-color: #248283;
	color: white;
	position: absolute;
	left: 0;
	padding-left: 0;
	
}
 a:hover , #actived{
	color: black;


}
#actived {
	font-weight: bold;
}

#title{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

li{
	font-size: 20px;

}
a{
	text-decoration: none;
}

.banh img{
	width: 45%;
	padding :5px;
	margin: 10px;
	border-style: groove;

}