.pagenation{
  float: right;
}
.bxslider img{
  height: auto;
  max-height: 646px;
  width: 100%;
}
.main-body{
  width: 92%;
  max-width: 1100px;
  padding: auto;
  margin: auto;
}
.pagination li {
  display:inline-block;
  padding:5px;
}
.caption{
  border-bottom-style: groove;

}
.caption p{
  font-size: 19px;
  color: #8a0187;
  text-transform: uppercase;
}
ul li button{
  padding:  3px 8px 3px 8px;
  color: white;
  background-color: #8a0187;
}
.title{
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;

}
.title a, .title span{
  color: #a3a3a3;
}
.information{
  float: left;
  display: inline-block;
}
.information .other-information .main-information{
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;

}
.other-information button, .main-information button{
  -moz-transition:-moz-transform 0.5s ; 
  -webkit-transition:-webkit-transform 0.5s; 
  -o-transition:-o-transform 0.5s;
  overflow: hidden;
}


.other-information ul li, .main-information ul li{
  margin-top: 20px;
  font-size: 16px;
  overflow: hidden;
  line-height: 1.4;



}

.other-information ul li p{
  color: black;
  padding-bottom: 10px;
}

h5{
  font-size: 24px;
  font-weight: normal;
}
.main-information ul li p{
  color: #949494;
  padding-bottom: 10px;
}
.main-information button{
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
}
.calendar{
  width: 14px !important;
  height: 14px !important;
  margin-right: 30px;
  float: left;
}
.other-information .date-time{
  padding-left: 90px;
}
#date{
  font-size: 14px !important;
  padding-left: 0 !important;
  color: #949494;
  float: left;
}
.main-information .date-time{
 padding-left: 340px;
}
 .other-information{
  width: 28%;
  float: left;
}
.other-information ul li p{
  padding-left: 90px;
  padding-bottom: 10px;

}
.other-information{
    width: 28%;
    float: left;
  }
  .other-information ul li p{
    padding-left: 90px;
    padding-bottom: 10px;

  }

  .other-information ul li, .main-information ul li{
    float: left;
    margin-top: 20px;
    font-size: 16px;
  }
  .other-information .img-inform{
    float: left;
    width: 85px;
    height: 88px;
    overflow: hidden;
    -moz-transition:-moz-transform 1s ease; 
    -webkit-transition:-webkit-transform 1s ease; 
    -o-transition:-o-transform 1s ease;
  }
  .main-information ul li p,h5{
    padding-left: 340px;
  }
  
  .main-information .img-inform{
    float: left;
    width: 312px;
    height: 246px;
    overflow: hidden;
    -moz-transition:-moz-transform 0.5s ; 
    -webkit-transition:-webkit-transform 0.5s; 
    -o-transition:-o-transform 0.5s;
  }
  .main-information{
    float: left;
    width: 67%;
    margin-left: 50px;
  }
  .thanh-footer{
    width: 100%;
    float: left;
  }
  .img-inform img{
    -moz-transition:-moz-transform 0.5s linear ; 
    -webkit-transition:-webkit-transform 0.5s linear; 
    -o-transition:-o-transform 0.5s linear;
  }
  .img-inform:hover img{
    transform: scale(1.2);
    opacity: 0.8;
  }
.other-information ul li, .main-information ul li{
  float: left;
  margin-top: 20px;
  font-size: 16px;
}
.other-information .img-inform{
  float: left;
  width: 85px;
  height: 88px;
  overflow: hidden;
  -moz-transition:-moz-transform 1s ease; 
  -webkit-transition:-webkit-transform 1s ease; 
  -o-transition:-o-transform 1s ease;
}
.main-information ul li p,h5{
  padding-left: 340px;
}

.main-information .img-inform{
  float: left;
  width: 312px;
  height: 246px;
  overflow: hidden;
  -moz-transition:-moz-transform 0.5s ; 
  -webkit-transition:-webkit-transform 0.5s; 
  -o-transition:-o-transform 0.5s;
}
.main-information{
  float: left;
  width: 67%;
  margin-left: 50px;
}
.thanh-footer{
  width: 100%;
  float: left;
}
.img-inform img{
  -moz-transition:-moz-transform 0.5s linear ; 
  -webkit-transition:-webkit-transform 0.5s linear; 
  -o-transition:-o-transform 0.5s linear;
}
.img-inform:hover img{
  transform: scale(1.2);
  opacity: 0.8;
}

@media (max-width: 1180px) {
  .other-information{
    width: 32%;
    float: left;
  }
  .other-information ul li p{
    padding-left: 90px;
    padding-bottom: 10px;

  }
  .main-information .date-time{
    padding-left: 0px !important;
  }
  .other-information ul li, .main-information ul li{
    float: left;
    margin-top: 20px;
    font-size: 16px;
  }
  .other-information .img-inform{
    float: left;
    width: 85px;
    height: 88px;
    overflow: hidden;
    -moz-transition:-moz-transform 1s ease; 
    -webkit-transition:-webkit-transform 1s ease; 
    -o-transition:-o-transform 1s ease;
  }
  .main-information .img-inform img{
    width: 100%;
    max-height: 100%;
  }
  .main-information .img-inform{

    width: 100%;
    height: 246px;
    overflow: hidden;
    -moz-transition:-moz-transform 0.5s ; 
    -webkit-transition:-webkit-transform 0.5s; 
    -o-transition:-o-transform 0.5s;
  }
  .main-information{
    float: left;
    width: 65%;
    margin-left: 20px;
  }
  .thanh-footer{
    width: 100%;
    float: left;
  }
  .img-inform img{
    -moz-transition:-moz-transform 0.5s linear ; 
    -webkit-transition:-webkit-transform 0.5s linear; 
    -o-transition:-o-transform 0.5s linear;
  }
  .img-inform:hover img{
    transform: scale(1.2);
    opacity: 0.8;
  }
  .main-information ul li p,h5{
    padding-left: 0;
  }
  
}
@media (max-width: 768px) {

  .other-information{
    width: 100%;
    float: left;
  }
  .other-information ul li p{
    padding-left: 90px;
    padding-bottom: 10px;

  }
  .main-information .date-time{
    padding-left: 0px !important;
  }
  .other-information ul li, .main-information ul li{
    float: left;
    margin-top: 20px;
    font-size: 16px;
  }
  .other-information .img-inform{
    float: left;
    
    overflow: hidden;
    -moz-transition:-moz-transform 1s ease; 
    -webkit-transition:-webkit-transform 1s ease; 
    -o-transition:-o-transform 1s ease;
  }
  .other-information .img-inform img{
    max-width: 100%;
    float: left;
  }
  .main-information .img-inform img{
    width: 100%;
    max-height: 100%;
  }
  .main-information .img-inform{
    
    width: 100%;
    height: 246px;
    overflow: hidden;
    -moz-transition:-moz-transform 0.5s ; 
    -webkit-transition:-webkit-transform 0.5s; 
    -o-transition:-o-transform 0.5s;
  }
  .main-information{
    float: left;
    width: 100%;
    margin-left: 0;
  }
  .thanh-footer{
    width: 100%;
    float: left;
  }
  .img-inform img{
    -moz-transition:-moz-transform 0.5s linear ; 
    -webkit-transition:-webkit-transform 0.5s linear; 
    -o-transition:-o-transform 0.5s linear;
  }
  .img-inform:hover img{
    transform: scale(1.2);
    opacity: 0.8;
  }
   #test-list .list {
    display: inline-block !important;
  }

}
@media (max-width: 640px) {
      #test-list .list {
    display: inline-block !important;
  }
}